.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 0.5 rem;
    margin: 1 rem 0;
    
    background-color: #4b4b4b;


}
.expense-item__discription{
    display: flex;
    flex-direction: column;
    gap: 1 rem;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}
.expense-item__price{
    font-size: 1 rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.rem;
    border-radius: 12px;
}
.expense-item h2{
   
    font-size: 1 rem;
    flex: 1;
    margin: 0 1 rem;
    color: white;
}
@media(min-width:580px){
    .expense-item__discription{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .expense-item__discription h2{
        font-size: 1.25 rem;
    }
    .expense-item__price{
        font-size: 1.25 rem;
        padding: 0.5 rem;
    }
}